@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --inn-palette-primary: #8B4513;
  --inn-palette-secondary: #FFD700;
  --inn-palette-dark: #1a1a1a;
}

body {
  font-family: var(--font-press-start-2p), monospace;
  background-color: var(--inn-palette-dark);
  color: #fff;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
