@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --inn-palette-primary: #8B4513;
  --inn-palette-secondary: #FFD700;
  --inn-palette-dark: #1a1a1a;
}

body {
  font-family: var(--font-press-start-2p), monospace;
  background-color: var(--inn-palette-dark);
  color: #fff;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2a1d17;
  border: 2px solid #3e2b22;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8c7b63;
  border: 2px solid #2a1d17;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #eaddcf;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: #2a1d17;
}